body, html{
    width: 100%;
    height: 100%;
}
body{
    font-family: "Roboto", sans-serif;
}
.driverCard{
    background: #1abc9c;
    color: black;
    width: 25%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font-size: 20px;
    text-align: center;
}
button{
    width: 100%;
}